html {
  color: white;
  margin: 0%;
  padding: 0%;
  height: 100%;
}

body {
  background-color: #191919;
  margin: 0px;
  height: 100%;
  padding: 0px;
}

label {
  font-size: 24px;
}

input,
select {
  font-size: 24px;
  border-radius: 0.3rem;
  background-color: #2f2f2f;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

textarea {
  font-size: 24px;
  border-radius: 0.3rem;
  background-color: #2f2f2f;
  color: white;
}

@media only screen and (max-width: 600px) {
  .create-template-btn {
    width: 95%;
  }

  .subject {
    width: 95%;
  }
}
