.form-data {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 1.5rem;
}

.email-header {
  margin: 0;
}

.header-btn {
  align-items: center;
  gap: 0.3rem;
}

.select-options {
  display: flex;
  gap: 0.5rem;
}

.template-delete-btn {
  background-color: red;
  color: #fff;
}

.template-update-btn,
.send-btn {
  background-color: #007bff;
  color: #fff;
}

.template-opts {
  width: 80%;
}
